<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="assets/images/madison.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Created by Marcio Vinicius</ion-card-subtitle>
        <ion-card-title>Bem Vindo ao NESCIO</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Agora que você faz parte do time NESCIO configure sua caixa </p>
      </ion-card-content>
    </ion-card>
    
</ion-content>
